.projectTypeArrow{
    
    .tintIcon{
        width:100px;
        height:100px;
    }
    &:hover{
        .tintIcon{
            background-color:var(--theme-color);
        }
    }
    &.disabled3D{
        position:absolute;
        top:0px;

        .boxContent{
            width:50px;
            height:50px;

        }
        &.typeArrowRight{
            right:50px;
        }
        &.typeArrowLeft{
            left:50px;
        }
        .pushHover{

        }
        .tintIcon{
            width:30px;
            height:30px;
        }

    }

}

.projectTypeOptions{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    .projectOption{
        flex-grow:1;
        .boxColor{

        }
        a{
            width:100%;
            font-size:0;
        }
        &.resize1024{
            width:33.33%;
            max-width:33.33%;
        }
        &.resize800, &.resize600{
            width:50%;
            max-width:50%;
        }
    }

}
.projectOption{
    img{
        width:100%;
        transition:all 0.75s;
    }
    a{
        position:relative;
    }
    .projectTypeOptionName{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        color:#FFF;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size:24px;
        font-weight: 600;
        text-align: center;
        white-space:nowrap;
        text-shadow: 0 0 5px rgba(0,0,0), 0 0 5px rgba(0,0,0), 0 0 10px rgba(0,0,0), 0 0 10px rgba(0,0,0), 0 0 10px rgba(0,0,0), 0 0 10px rgba(0,0,0), 0 0 10px rgba(0,0,0), 0 0 10px rgba(0,0,0);
    }
    .boxContent{
        transition:all 0.2s;
        border:0px solid rgba(0,0,0,0);

    }
    &:hover{
        .boxContent{
            //border:10px solid rgba(0,0,0,0);
           // transform:scale(1.1);
        }
        .pushHoverInside{
            transform:translate(0,100%);
        }
        a{
            &:before{
                //animation:shine 2s;
            }
            img{
            }
        }
    }
    &.disabled3D{
        .projectTypeOptionName{
            display:none;
        }
    }
}

@keyframes shine{
    0%{
        left:-75%;
    }
    100%{
        left:125%;
    }
}
.backToProjects{
    a{
        flex-grow: 1;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color:#FFF;
        text-align: center;
        text-decoration: none;
    }
    &.disabled3D{
        margin-bottom:10px;
        .boxBorder{
            justify-content: center;
        }
        .boxContent{
            a{
                padding:0 20px;
            }
        }
        .boxColor{
            height:50px;
            flex-grow:0;
            
            a{
                h3{
                    width:100px;
                    span{
                        display:block;
                        margin-bottom:4px;
                    }

                }
            }
        }

    }
}