@import '../vars';
.projectDetails{
    &.sectionBox{
     
        .boxContent{
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;

            .loader{
                align-self: center;
                margin:auto;
            }

            .projectDetailsContent{
                
                display:flex;
                flex-direction: column;
                min-height: 0;
                flex-grow:1;

                .projectDetailsContentHeader{
                    font-size:28px;
                    font-weight: 600;
                    background-color:#000000;
                    flex-shrink: 0;

                    .projectDetailsContentHeaderInside{
                        
                        display:flex;
                        height:80px;
                        flex-direction: row;
                        align-items: center;
                        .projectDetailsContentHeaderInsideName{
                            margin-left:20px;
                            margin-right:auto;
                            >span{
                                margin-right:30px;
                            }
                        }                        
                        max-width:1440px;
                        margin:0 auto;

                    }


                    .prev{
                    }
                    .headerBtn{
                        flex-shrink: 0;
                        width:80px;
                        cursor: pointer;
                        height:100%;
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        &:hover{
                            color:var(--theme-color);
                            .tintIcon{
                                background-color:var(--theme-color);
                            }

                            .pushHoverBtn{
                                &.right{
                                    .pushHoverInside{
                                        transition:all 0.2s;
                                        transform:translate(100%,0);
                                    }
                                }
                                &.left{
                                    .pushHoverInside{
                                        transition:all 0.2s;
                                        transform:translate(-100%,0);
                                    }

                                }
                            }
                        }
                        
                        .tintIcon{
                            width:40px;
                            height:40px;
                        }
                        .pushHover{
                        }
                    }
                    .close{
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        .tintIcon{
                            width:36px;
                            height:36px;
                        }
                        &:hover{
                            .tintIcon{
                                transition-delay:0;
                                transform:rotate(90deg);
                            }
                        }

                    }
                }
                .projectDetailsContentContainer{
                    
                    overflow: auto;
                    flex-grow: 1;
                    min-height: 0;
                    .projectDetailsContentContainerReveals{
                        margin:0 auto;
                        max-width:1440px;
                    }
                }

                .imageReveal{
                    img{
                        width:100%;
                    }
                }
                .projectDetailsImageInfo{
                    display:flex;
                    flex-direction: row;
                    img{
                        flex-grow:1;
                        width:50%;
                        object-fit: cover;
                    }
                    .projectDetailsInfoBox{
                        flex-grow:1;
                        width:50%;
                        background-color:#FFF;
                        color:#000;
                        padding:60px;
                        display:flex;
                        flex-wrap: wrap;
                        gap:40px;
                        align-content: flex-start;
                        border-right:1px solid rgba(0,0,0,0.1);
                        .desc{
                            width:100%;
                        }
                        .client, .scope{
                            width:40%;
                        }
                        .link{
                            margin-left: auto;
                            .linkStatus, a{
                                color:#000;
                                font-size:20px;
                                font-weight: 700;
                                display:flex;
                                flex-direction: column;
                                padding:15px;
                                text-decoration: none;
                                background-color:var(--theme-color);
                                background-image:var(--theme-bgcolor);
                                background-size: 100% 100%;
                                text-align: center;
                                span{
                                    font-size:12px;
                                    opacity:0.5;
                                    margin-bottom:4px;
                                }
                            }

                        }

                    }
                }
                

            }
        }   
        &.disabled3D{
            .boxColor{
                background:none !important;
            }
            .boxContent{
                .loader{
                    margin-top:18px;
                }
                .projectDetailsContent{
                    .projectDetailsContentHeader{
                        position:sticky;
                        top:0;
                        z-index:5;
                        
                        .projectDetailsContentHeaderInside{
                            flex-direction: column;
                            font-size:16px;
                            height:50px;
                            align-items: center;
                            justify-content: center;
                            padding:0 100px;
                            text-align: center;
                            .projectDetailsContentHeaderInsideName{
                                margin:0;
                            }
                            .theme{
                                display:none;
                            }
                            .headerBtn{
                                position:absolute;
                                width:50px;
                                height:50px;
                                z-index:30;
                                &.close{
                                    top:50px;
                                    right:0;
                                    background-color:var(--theme-color);
                                    background-image:var(--theme-bgcolor);
                                    background-size: 100% 100%;
                                    .tintIcon{
                                        background-color:#000;
                                    }
                                }
                                &.prev{
                                    top:0;
                                    left:50px;

                                }
                                &.next{
                                    top:0;
                                    right:50px;
                                }
                            }
                        }
                    }
                    .projectDetailsImageInfo{
                        flex-direction: column;
                        .projectDetailsInfoBox{
                            width:100%;
                            padding:30px;

                            @media(max-width:$resize800){
                                .client, .scope{
                                    width:100%;
                                }
                            }
                        }
                        img{
                            width:100%;
                        }

                    }
                }
            }
        }
    }
}
.projectDetailsInfoBoxDetail{
    .title{
        font-size:22px;
        font-weight: 600;
        margin-bottom:10px;
    }
    .value{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        opacity:0.4;
        line-height: 26px;
        font-size:16px;
    }
}