.App{
	height:100%;
    position:relative;
    overflow: hidden;
    

    .stage{
        position:absolute;
        left:50%;
        transition: all 0.3s ease-out;
        will-change: transform;
        perspective: 2000px;
        transform-style: preserve-3d;
        z-index:3;
    }
    .sky{
        position:absolute;
        left:50%;
        width:100%;
        min-width:1400px;
        z-index:2;
        background-repeat: no-repeat;
        transform:translate(-50%,0);
        background-size: 105% 100%;
        transition:all 0.3s ease-out;
    }
    .ground{
        z-index:1;
        
        position:absolute;
        width:100%;
        min-width:1400px;
        left:50%;
        transform:translate(-50%,0);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 105% 100%;
        transition:all 0.3s ease-out;
    }
}

h1{
    font-size:28px;
    span{
        font-size:16px;
        display:block;
        margin-bottom:4px;
    }
}
h2{
    font-size:24px;
    font-weight: 600;
}
h3{
    font-weight:600;
}


.themeBtn{
    cursor: pointer;
    transition:all 0.2s;
    height:60px;
    background-color:var(--theme-color);
    color:#000;
    border:1px solid rgba(0,0,0,0.5);
    font-weight: 700;
    text-transform: uppercase;
    font-size:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0 20px;
    &:focus, &:hover{
        border:8px solid rgba(0,0,0,0.5);
    }
}