@import 'vars';
.sectionBox{
    .boxContent{
        display:flex;
        flex-direction: row;
    }
    &.verCenter{
        .boxContent{
            align-items: center;
        }
    }
    &.horCenter{
        .boxContent{
            justify-content: center;
        }
    }
    &.padding{
        .boxContent{
            padding:20px;
        }
    }

    &.disabled3D{

        display:none;
        &.exactActive{
            display:block;
        }
    }
}

.sectionTitle{
    &.disabled3D{
        margin-bottom:10px;
        .boxContent{
            height:50px;
        }
        .boxColor{
        }
        @media(max-width:$resize600){
            h1,h2{
                font-size:20px;
            }
        }
    }
}